html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html, body, canvas {
    margin: 0;
    padding: 0;
    touch-action: none;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

img {
    position: absolute;
    display: block;
    -webkit-user-drag: none;
}

.figure {
    width: 100px;
    cursor: pointer;
}

.button {
    width: 50px;
    cursor: pointer;
    padding: 10px;
    margin: 0;
}
.button:active {
    transform: scale(0.8);
    opacity: 0.8;
}

#undoButton {
    right: 60px;
}

#trashButton {
    right: 0;
}

canvas {
    display: block;
}

#debug {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80px;
    margin: 5px 10%;
    line-height: 0.9;
    font-size: 10px;
    pointer-events: none;
}
